.wrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #444444;
    > * {
        width: 100%;
        background-color: #32373c;
    }
}
