.wrap {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.7rem;
    min-height: 0;
    overflow: hidden;
}

.input {
    /* TODO */
}

.checkbox {
    /* TODO */
}

.slider {
    /* TODO */
}

.button {
    /* TODO */
}